body {

    background-image: url(../images/IMG_4107.JPG);

    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.shoe-container{
    justify-content: center;
    text-align: center;
    width: auto;
}

h1 {
    font-weight: bolder;
    outline-color: blanchedalmond;
    outline-offset: initial;
    color: black;
}

.form-group {
    color: white;
}

p {
    color: black;
}

a:link {
    color: black;

}