.main-container {
    align-content: center;
    justify-content: center;
    align-items: center;
    
}

.shoe-form {
    justify-content: center;
    align-content: center;
    width: auto
}


FormGroup {
    align-content: center;
}

